.names {
  font-family: Denistina, serif;
  width: 50%;
  margin-top: 60px;
  & svg {
    fill: #3E554F;
    stroke: #3E554F;
  }

  @media (max-width: 660px) {
    width: 96%;
    align-self: end;
    margin-top: 20px;
  }
  @media (max-width: 1100px) {
    top: 50%;
  }
}