.main {
  background: #ffffff;
  height: 100vh;
  overflow-y: auto;
}

.main_start {
  background-image: url("https://static.tildacdn.com/tild6232-3537-4265-a461-306134336530/___2.png");
  background-position: 100% 0%;
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 1100px) {
    position: sticky;
    bottom: 0;
    background-size: auto 70%;
    background-position: 100% 0%;
  }
}

.arrow {
  margin-top: 60px;
}

.date {
  font-family: Forum, serif;
  font-size: 48px;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
  @media (max-width: 680px) {
    padding: 24px;
    margin-top: 0px;
    font-size: 24px;
  }
}

.invitation {
  font-family: Forum, serif;
  font-size: 36px;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
  @media (max-width: 680px) {
    padding: 24px;
    margin-top: 0px;
    font-size: 24px;
  }
}

.main_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: Forum, serif;
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
  @media (max-width: 680px) {
    padding: 24px;
    font-size: 20px;
    margin-top: 0px;
  }
}

.month {
  font-family: Denistina, serif;
  font-size: 72px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: #a1727d;
}

.month_container {
  width: 292px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  gap: 16px;
  position: relative;
  & :first-child {
    justify-content: flex-end;
  }
}

.week_container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.title {
  font-family: Denistina, serif;
  font-size: 84px;
  margin-top: 30px;
  text-align: center;
  color: #a1727d;
  @media (max-width: 680px) {
    padding: 24px;
    font-size: 64px;
    margin-top: 0px;
  }
}

.appeal {
  font-family: Forum, serif;
  font-size: 48px;
  margin-top: 30px;
  text-align: center;
}

.button_location {
  padding: 10px;
  background: #483b35;
  border-radius: 4px;
  color: white;
  border: none;
  margin-top: 12px;
  margin-bottom: 60px;
  &:hover {
    background-color: #1d1815;
    cursor: pointer;
  }
  @media (max-width: 680px) {
    margin-bottom: 10px;
  }
}

.form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 24px;
  @media (max-width: 680px) {
    padding: 24px;
  }
}

.form-text {
  font-family: Forum, serif;
  font-size: 24px;
  @media (max-width: 680px) {
    font-size: 20px;
  }
}

.form_input {
  display: block;
  height: 36px;
  width: 100%;
  border-color: transparent;
  border-bottom: 2px solid #483b35;
  background-color: transparent;
  box-shadow: none;
  &:focus {
    border-color: transparent;
    border-bottom: 2px solid #483b35;
    background-color: transparent;
    box-shadow: none;
    outline: none;
  }
}

.form-control {
  font-family: Forum, serif;
  font-size: 24px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  @media (max-width: 680px) {
    font-size: 20px;
  }
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  border-radius: 50%;
  height: 20px;
  display: grid;
  place-content: center;
  color: #483b35;
  border: 1px solid grey;
  &:checked {
    border: 1px solid #273632;
    &::before {
      transform: scale(1);
    }
  }
  &::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #483b35;
  }
}

.divider {
  width: 100%;
  height: 80px;
  margin: 50px 0;
  @media (max-width: 680px) {
    height: 50px;
    margin: 30px 0;
  }
}
